body {
  background-color: #10172B;
}
.App {
  text-align: center;
  margin: 20px;
}
.App h1 {
  font-size: 50px;
  font-weight: 900;
  color: #ffffffcc;
  background-color: #0f235a;
  padding: 20px;
  margin: 20px;
  border-bottom: 2px solid #6a6a03 ;
  border-radius: 10px;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  grid-template-columns: repeat(auto-fill, (300px, 1fr));
}

.planet-card {
  width: 50vh;
  color: #ffffffcc;
  background-color: #19398A;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  font-weight: 600;
  box-shadow: 2px 2px 2px #0f235a;
  border-left: 2px solid #6a6a03 ;
  border-right: 2px solid #6a6a03 ;
}
.planet-card h2 {
  color: #EF4123;
}
.planet-card p {
  font-family: 500;
}
.planet-card li {
  list-style: none;
  font-weight: 400;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  color: #ffffffcc;
  background-color: #0f235a;
  border: none;
  border-radius: 10px;
  border-top: 2px solid #6a6a03 ;
  width: 50%;
}

@media screen and (max-width: 375px)
{ 
    .App h1 {
      font-size: 20px;
      font-weight: 900;
      padding: 12px;
      margin: 12px;
    }
    .planet-card {
      width: 100vh;
      color: #ffffffcc;
      background-color: #19398A;
      border-radius: 8px;
      padding: 12px;
      margin: 12px;
      font-weight: 400;
      box-shadow: 2px 2px 2px #0f235a;
      border-left: 2px solid #6a6a03 ;
      border-right: 2px solid #6a6a03 ;
    }
    .planet-card h2 {
      color: #EF4123;
    }
    .planet-card p {
      font-family: 400;
    }
    .planet-card li {
      list-style: none;
      font-weight: 300;
    }
    button {
      margin-top: 20px;
      padding: 12px;
      margin: 12px;
      width: 90%;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;
      color: #ffffffcc;
      background-color: #0f235a;
      border: none;
      border-radius: 10px;
      border-top: 2px solid #6a6a03 ;
    }
}

@media screen and (max-width: 576px)
{ 
    .App h1 {
      font-size: 20px;
      font-weight: 900;
      padding: 12px;
      margin: 12px;
    }
    .planet-card {
      width: 100vh;
      color: #ffffffcc;
      background-color: #19398A;
      border-radius: 8px;
      padding: 12px;
      margin: 12px;
      font-weight: 400;
      box-shadow: 2px 2px 2px #0f235a;
      border-left: 2px solid #6a6a03 ;
      border-right: 2px solid #6a6a03 ;
    }
    .planet-card h2 {
      color: #EF4123;
    }
    .planet-card p {
      font-family: 400;
    }
    .planet-card li {
      list-style: none;
      font-weight: 300;
    }
    button {
      margin-top: 20px;
      padding: 12px;
      margin: 12px;
      width: 94%;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;
      color: #ffffffcc;
      background-color: #0f235a;
      border-radius: 10px;
      border-top: 2px solid #6a6a03 ;
    }
}

@media screen and (max-width: 820px)
{ 
    .App h1 {
      font-size: 30px;
      font-weight: 900;
      padding: 16px;
      margin: 16px;
    }
    .planet-card {
      width: 100vh;
      color: #ffffffcc;
      background-color: #19398A;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
      font-weight: 500;
      box-shadow: 2px 2px 2px #0f235a;
      border-left: 3px solid #6a6a03 ;
      border-right: 3px solid #6a6a03 ;
    }
    .planet-card h2 {
      font-size: 35px;
      color: #EF4123;
      font-weight: 700;
    }
    .planet-card p {
      font-size: 25px;
      font-family: 600;
    }
    .planet-card li {
      list-style: none;
      font-weight: 400;
    }
    button {
      margin-top: 20px;
      padding: 12px;
      margin: 12px;
      width: 94%;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;
      color: #ffffffcc;
      background-color: #0f235a;
      border-radius: 10px;
      border-top: 2px solid #6a6a03 ;
    }
}
